Repository ourjapanlife/findadoc-server, pull requests merged in 2023-10, with the labels that each got.

#293 feat: implement updateFacility
  __tests__/facilities.test.ts
  src/resolvers.ts
  src/services/facilityService.ts
  src/typeDefs/gqlTypes.ts
  src/typeDefs/schema.graphql
Labels: enhancement, graphQL, backend

#292 fix: createFacilityWithHealthcareProfessional and add tests
  __tests__/facilities.test.ts
  __tests__/submissions.test.ts
  src/fakeData/facilities.ts
  src/fakeData/healthcareProfessionals.ts
  src/resolvers.ts
  src/services/facilityService.ts
  src/services/healthcareProfessionalService.ts
  src/typeDefs/dbSchema.ts
  src/typeDefs/gqlTypes.ts
  src/typeDefs/schema.graphql
Labels: CI/CD, code quality, tests

#295 fix: allow for partial updates of submissions
  __tests__/submissions.test.ts
  src/resolvers.ts
  src/services/submissionService.ts
  src/typeDefs/gqlTypes.ts
  src/typeDefs/schema.graphql
Labels: bug, graphQL, backend, tests

#299 fix: replace spelling typo 'where' with 'were'
  src/resolvers.ts
Labels: bug, code quality, backend

#307 Add happy path test for searchSubmission method
  __tests__/submissions.test.ts
  package.json
  src/services/submissionService.ts
  yarn.lock
Labels: CI/CD, backend, tests

#263 Create `approveSubmission` function and logic
  src/resolvers.ts
  src/result.ts
  src/services/facilityService.ts
  src/services/healthcareProfessionalService.ts
  src/services/submissionService.ts
  src/typeDefs/dbSchema.ts
  src/typeDefs/gqlTypes.ts
  src/typeDefs/schema.graphql
Labels: enhancement, backend

#326 chore: revert renovate bot back to previous confidence level
  renovate.json
Labels: dependencies, CI/CD
